<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RedirectMatch 403 /\.git
    RedirectMatch 403 \.env
    RedirectMatch 403 \.json
    RedirectMatch 403 \.lock
    RedirectMatch 403 \.phar
    RedirectMatch 403 \.xml
    RedirectMatch 403 webpack.mix.js
    RedirectMatch 403 server.php
	RedirectMatch 403 .editorconfig
	RedirectMatch 403 .htaccess
	RedirectMatch 403 .styleci.yml
	RedirectMatch 403 artisan
	RedirectMatch 403 \.md
    RedirectMatch 403 \.MD
</IfModule>
